* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.a-no-style {
  color: inherit;
  text-decoration: inherit;
}
.a-no-style:hover {
  color: inherit;
  text-decoration: inherit;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.container-w95 {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.card-list {
  margin: 1rem 0;
  background-color: rgba(19, 19, 19, 0.9);
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: relative;
  min-height: 20%;
  height: auto;
  /* min-height: 40%;
  max-height: 100%; */
}

.card {
  border-radius: 0;
  margin: 1rem;
}

.card--sm {
  max-height: 20rem;
  max-width: 22rem;
  width: 100%;
}
.card--landscape {
  max-width: 80rem;
  height: 10rem;
}

.card-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-overlay:hover {
  background-color: rgba(15, 15, 15, 0.55);
}

.card img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.h1-title {
  font-size: 2rem;
  margin: 1rem 0;
}

@media screen and (max-width: 650px) {
  .card-list {
    flex-wrap: wrap;
  }
}

.text-justify {
  text-align: justify;
}
